<%- include partials/header %>

<section class="section section-profile">
  <div class="container">
    <div class="row row-header">
      <h1 class="header"><%= user.username.toUpperCase() %></h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam sequi culpa quod deserunt sunt cum recusandae impedit eaque vitae amet.</p>
    </div>
    <hr class="hr">
    <div class="row">

    </div>
  </div>
</section>

<%- include partials/footer %>